<div class="topnav">
    <a  href="/">Acasa</a>
    <a href="/chestionar">Chestionar</a>
    <a class="active" href="/vizualizare-cos">Vezi cosul</a>
    <a href="/delogare">Delogare</a>
    <dreapta >
        <%="Logat ca "+user.username+"."%>
  </dreapta >
</div>
<form action="/vizualizare-cos" method="GET">
    <table border="1">
        <thead>
            <tr>
                <th scope="col">Produs</th>
                <th scope="col">Pret</th>

            </tr>
        </thead>

        <%i = 0;%>
        <%j = 0;%>
        <%  cos.forEach( ob =>{ %>
        <% if(i == 2){ i = 0;}%>
        <% if(i == 0){%>
        <tbody>
            <td scope="row">
                <%= ob %>


            </td>

            <%}else{%>

            <td>
                <%= ob %>
            </tbody>
            </td>
    
       
        <%}%>

        <%i++;%>
      



    
    <%})%>
</table>

</form>